<?php
/***CONFIGURATOR***/
$sugar_config['SAML_X509Cert'] = '';
$sugar_config['SAML_loginurl'] = '';
$sugar_config['SAML_logouturl'] = '';
$sugar_config['addAjaxBannedModules'][0] = 'SecurityGroups';
$sugar_config['addAjaxBannedModules'][1] = 'Accounts';
$sugar_config['aod']['enable_aod'] = false;
$sugar_config['authenticationClass'] = '';
$sugar_config['dashlet_auto_refresh_min'] = '30';
$sugar_config['default_currency_iso4217'] = 'TWD';
$sugar_config['default_currency_name'] = 'Taiwan Dollars';
$sugar_config['default_currency_symbol'] = 'NT$';
$sugar_config['default_language'] = 'en_us';
$sugar_config['default_module_favicon'] = false;
$sugar_config['developerMode'] = true;
$sugar_config['disable_convert_lead'] = true;
$sugar_config['disable_count_query'] = true;
$sugar_config['disable_persistent_connections'] = false;
$sugar_config['disable_vcr'] = true;
$sugar_config['disabled_languages'] = '';
$sugar_config['dump_slow_queries'] = true;
$sugar_config['email_allow_send_as_user'] = false;
$sugar_config['email_confirm_opt_in_email_template_id'] = '';
$sugar_config['email_xss'] = '';
$sugar_config['enable_line_editing_detail'] = false;
$sugar_config['enable_line_editing_list'] = false;
$sugar_config['hide_subpanels'] = false;
$sugar_config['http_referer']['list'][0] = '';
$sugar_config['list_max_entries_per_page'] = '30';
$sugar_config['list_max_entries_per_subpanel'] = '30';
$sugar_config['logger']['default'] = 'SugarLogger';
$sugar_config['logger']['level'] = 'debug';
$sugar_config['oauth2_encryption_key'] = '';
$sugar_config['passwordsetting']['SystemGeneratedPasswordON'] = '0';
$sugar_config['passwordsetting']['factoremailtmpl'] = '';
$sugar_config['passwordsetting']['generatepasswordtmpl'] = '';
$sugar_config['passwordsetting']['lostpasswordtmpl'] = '';
$sugar_config['passwordsetting']['minpwdlength'] = '';
$sugar_config['passwordsetting']['onelower'] = '0';
$sugar_config['passwordsetting']['onenumber'] = '0';
$sugar_config['passwordsetting']['onespecial'] = '0';
$sugar_config['passwordsetting']['oneupper'] = '0';
$sugar_config['search']['ElasticSearch']['enabled'] = false;
$sugar_config['search']['ElasticSearch']['host'] = '';
$sugar_config['search']['controller'] = 'UnifiedSearch';
$sugar_config['search']['defaultEngine'] = 'BasicSearchEngine';
$sugar_config['securitysuite_additive'] = true;
$sugar_config['securitysuite_inbound_email'] = false;
$sugar_config['stack_trace_errors'] = false;
$sugar_config['suitesuperlogger']['format'] = ':date:[:pid:][:userId:][:level:][:remoteAddr:][:forwardedAddr:][:requestMethod:]:msg:';
/***CONFIGURATOR***/
