<?php

$sugar_config_si = array(
    'setup_create_default_user' => 0,// Custom variable
    'default_currency_iso4217' => 'TWD',
    'default_currency_name' => 'Taiwan Dollars',
    'default_currency_significant_digits' => '2',
    'default_currency_symbol' => '$',
    'default_date_format' => 'Y-m-d',
    'default_decimal_seperator' => '.',
    'default_export_charset' => 'UTF-8',
    'default_language' => 'en_us',
    'default_locale_name_format' => 's f l',
    'default_number_grouping_seperator' => ',',
    'default_time_format' => 'H:i',
    'export_delimiter' => ',',
    'setup_db_admin_password' => 'secret',
    'setup_db_admin_user_name' => 'suitecrm',
    'setup_db_create_database' => 0,
    'setup_db_database_name' => 'suitecrm',
    'setup_db_drop_tables' => 0,
    'setup_db_host_name' => 'suite_mysql',
    'setup_db_pop_demo_data' => false,
    'setup_db_type' => 'mysql',
    'setup_db_username_is_privileged' => true,
    'setup_db_create_sugarsales_user' => 0,
    'setup_site_admin_password' => 'admin',
    'setup_site_admin_user_name' => 'admin',
    'setup_site_url' => 'http://127.0.0.1:5000',
    'setup_system_name' => 'Site Name',
);
